body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.github-color:hover {
  background-color: rgba(207, 181, 59, 0.7);

  border-radius: 32px;
  transition: 0.2s;
}

.github {
  color: inherit;
  border: none;
}



/* className='github-link'  link-dark */